.home{
    background: linear-gradient(90deg,#103010,#102010,#103010);
    backdrop-filter: blur(10px);
     
    
    color: #fff;
}

.hero{
    display: flex;
    justify-content: space-between;
    padding: 20px 6%;
    padding-top: 10%;
}

.hero-left{
    height: 100vh;
    width: 50%;
    
}

.hero-left button{

    background-color: aqua;
    position: relative;
    width: 200px;
    height: 50px;
    margin-top: 20px;
    border-radius: 30px;
    margin-left:260px;
    background: linear-gradient(100deg,#20d338,#4545d4)
}
.hero-left button a{
    text-decoration: none;
    color: red;
    font-size: 20px;
    
}
.hero-left h1{
    font-size: 70px;
    padding-left: 100px ;
}
.hero-left p :first-child{
 font-size: 60px;
}

.hero-left p :last-child{
    font-size: 30px;
}

.hero-left p{
    padding-top: 20px;
    font-size: 40px;
    padding-left: 100px;
}
/* .hero-name{
    color: red;
} */

.hero-left .hero-main span{
    font-size: 40px;
}
.hero-left .desc{
    font-size: 15px;
}


.hero-right{
    justify-items: center;
    padding-right:200px;
}

.hero-right img{
    border-radius: 50%;
    box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.5);
}

.project-heading{
    display: flex;
    font-size: 40px;
    font-family: sans-serif;
    justify-content: center;
}

.hero-right img:hover{
    animation: rgb-shadow 5s linear infinite;
}


  
@keyframes rgb-shadow {
    0% {
      box-shadow: 
        0 0 10px rgba(255, 0, 0, 0.7),
        0 0 20px rgba(255, 0, 0, 0.5),
        0 0 30px rgba(255, 0, 0, 0.3);
    }
    33% {
      box-shadow: 
        0 0 10px rgba(0, 255, 0, 0.7),
        0 0 20px rgba(0, 255, 0, 0.5),
        0 0 30px rgba(0, 255, 0, 0.3);
    }
    66% {
      box-shadow: 
        0 0 10px rgba(0, 0, 255, 0.7),
        0 0 20px rgba(0, 0, 255, 0.5),
        0 0 30px rgba(0, 0, 255, 0.3);
    }
    100% {
      box-shadow: 
        0 0 10px rgba(255, 0, 0, 0.7),
        0 0 20px rgba(255, 0, 0, 0.5),
        0 0 30px rgba(255, 0, 0, 0.3);
    }
  }